.features {
    padding: 15px;
}

.features__description {
    margin: 0;
    margin-bottom: 20px;
}

.features__list {
    .list-reset();
}

.features__item {
    text-align: center;
}

.features-item__number {
    position: relative;

    display: inline-block;

    margin-bottom: 20px;

    width: 80px;
    height: 80px;

    border: 1px solid #000;
    border-radius: 50%;

    & span {
        position: absolute;

        bottom: 0;
        right: -2px;

        font-size: 60px;
        line-height: 62px;
        font-weight: bold;

        background-color: white;
    }
}

.features-item__title {
    margin: 0;
    margin-bottom: 10px;

    font-size: 20px;
    line-height: 24px;
}

.features-item__text {
    margin: 0;
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 18px;
}