.page-footer {
    padding: 15px;

    background-color: #000;
}

.footer__nav {
    & .main-logo__container {
       margin-bottom: 20px;
    }
    
    & .main-logo--img {
        width: 20px;
        height: 24px;
        margin-right: 10px;
    }
    
    & .main-logo--text {
        font-size: 20px;
        line-height: 22px;
    }
}

.footer__nav-list {
    display: none;
}

.footer__copyright {
    margin: 0;

    font-size: 12px;
    line-height: 14px;

    color: rgba(255, 255, 255, .5);
}